.spanMsg {
    margin-left: 0.25pc;
}

.spanUsr {
    color: gray;
}

#messages {
    font-size: medium;
    height: 70vh;
    overflow: scroll;
    background-color: #f3f3f3;
    border-radius: 2px;
}

#buttonField {
    margin-top: 1pc;
}

#logout {
    float: right;
}

.mdui-divider {
    margin: 2pc auto;
}